name: Deploy to Clever Cloud

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy to Clever Cloud
        uses: 47ng/actions-clever-cloud@v2.1.0
        with:
          appID: app_b5fcfac3-3d40-4e67-8d47-3a357835d274
        env:
          CLEVER_TOKEN: ${{ secrets.CLEVER_TOKEN }}
          CLEVER_SECRET: ${{ secrets.CLEVER_SECRET }}
